body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-image: url('https://i.pinimg.com/originals/6e/f6/2f/6ef62fb86557cbbaa0cdcdd2a11bfd7e.gif');
    background-size: cover; 
    background-position: center; 
    text-align: center;
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    background-color: orangered;
    height: 40px;
    cursor: pointer;
 }
 
 #logo {
   width: 100px;
   
 }


 .header nav{
    display: flex;
    align-items: center;
    gap: 80px;
 
 }

 .header nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
 }

 
.container {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    background-color: black;
    color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

p {
    width: 30%;
    background-color: black ;
    font-size: 16px;
    color: #666;
text-align: center; }

    h1 {
        width: 30%;
        background-color: black;
        font-size: 24px;
        color: orangered; }