@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-image: url("https://i.pinimg.com/originals/6e/f6/2f/6ef62fb86557cbbaa0cdcdd2a11bfd7e.gif");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: transparent ; */
  background-color: beige;
  background-image: linear-gradient(to right, lightblue, purple);
  height: 90px;
  cursor: pointer;
  flex-wrap: wrap;
  padding-right: 50px;
}

.logo {
  width: 90px;
  margin-left: 6px;
}


a{
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  
}

.container {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: #fffdfd;
  text-align: center;
  background-color: transparent;
  width: 400px;
  padding: 1em;
  font-weight: 700;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  background-color: transparent;
  font-size: 20px;
  color: rgb(9, 237, 169);
  padding: 1em;
  font-weight: 1000;
}

.login{
  display: flex;
  justify-content: center;
  background-color: transparent;
  text-align: center;
  padding: 0.1em;
  border-radius: 5px;
}

.login:hover{
  color: rgb(0, 0, 0);
  font-size: 25px;

}

.products{
  display: flex;
  justify-content: center;
  background-color: transparent;
  text-align: center;
  padding: 0.1em;
  border-radius: 5px
}

.products:hover{
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.logo:hover{
  width: 75px;
  height: 78px;
  border:  1px solid #000;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 6px;
}