<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/E-shop-18-03-24/assets/css/login.css">
    <title>Login|E-shop</title>
    
</head>
<body>
    <main>
        <section id="container">
            <div class="login-page">
                <h1>Login</h1>
                <h3>Conexion / Inscription</h3>
                <p>Saisir votre email pour vous connecter ou créer un compte</p>
            </div>
    
            <form action="">
                <div class="login-email">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="input-email">  
                </div>
    
                <h3>ou</h3>
                <div class="links-reseaux">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </form>
        </section>
    </main>
</body>
</html>