<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-shop</title>
    <link rel="stylesheet" href="/assets/css/produit.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/assets/js/e-shop.js"></script>
  </head>
  <body>
    <header class="header">
      <a href="/index.html" class="logo">E-shop</a>
      <nav class="navbar">
        <a href="/view/login.html">Login</a>
        <a href="/view/produit.html">Proucts</a>
        <a href=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> </a>
      </nav>
    </header>

    <main>
      <section class="section-hero">
        <img
          src="https://i.pinimg.com/564x/fc/19/05/fc19057333e653232469a28a75e5e889.jpg"
          alt=""
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
          veniam laborum blanditiis recusandae. Iste deserunt sed impedit
          reprehenderit fuga. Assumenda ratione quod odit eum ab, earum
          excepturi atque dolorem ea.
        </p>
      </section>

      <section class="container-section">
        <h3>Les clients ont également apprécié</h3>
        <section class="section-items">
          <span class="item">
            <img
              src="https://www.cdiscount.com/pdt2/l/e/u/1/700x700/iphone14128bleu/rw/apple-iphone-14-128gb-blue.jpg"
              alt=""
            />
            <p>APPLE iPhone 14 128GB Blue</p>
            <span class="icones">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              avis
            </span>
            <nav>
              <ul>
                <li>Taille de la diagonale6.1</li>
                <li>Résolution du capteur12 mégapixels</li>
                <li>Capacité de la mémoire interne128 Go</li>
              </ul>
            </nav>
            <i>Prix 900, 76€</i>
            <button class="btn">Ajouter</button>
          </span>

          <span class="item">
            <img
              src="https://www.cdiscount.com/pdt2/o/i/r/1/550x550/iphone14128noir/rw/apple-iphone-14-128gb-midnight.jpg"
              alt=""
            />
            <p>APPLE iPhone 14 128GB noir</p>
            <span class="icones">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              avis
            </span>
            <nav>
              <ul>
                <li>Taille de la diagonale6.1</li>
                <li>Résolution du capteur12 mégapixels</li>
                <li>Capacité de la mémoire interne128 Go</li>
              </ul>
            </nav>
            <i>Prix 900, 76€</i>
            <button class="btn">Ajouter</button>
          </span>
          <span class="item">
            <img
              src="https://www.cdiscount.com/pdt2/l/e/u/1/700x700/iphone14128bleu/rw/apple-iphone-14-128gb-blue.jpg"
              alt=""
            />
            <p>APPLE iPhone 14 128GB Blue</p>
            <span class="icones">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              avis
            </span>
            <nav>
              <ul>
                <li>Résolution du capteur12 mégapixels</li>
                <li>Capacité de la mémoire interne128 Go</li>
              </ul>
            </nav>
            <i class="prix">Prix 900, 76€</i>
            <button class="btn">Ajouter</button>
          </span>

          <span class="item">
            <img
              src="https://www.cdiscount.com/pdt2/r/e/d/1/700x700/iphone14128red/rw/apple-iphone-14-128gb-product-red.jpg"
              alt=""
            />
            <p>iPhone 13 128Go Rouge</p>
            <span class="icones">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              avis
            </span>
            <nav>
              <ul>
                <li>Taille de la diagonale6.1</li>
                <li>Résolution du capteur12 mégapixels</li>
                <li>Capacité de la mémoire interne128 Go</li>
              </ul>
            </nav>
            <i>Prix 900, 76€</i>
            <button class="btn">Ajouter</button>
          </span>
        </section>
      </section>

      <!-- <section>
            <h3>Recommandé avec ce produit</h3>
            <img src="https://www.cdiscount.com/pdt2/0/2/2/2/700x700/ap0194252157022/rw/adaptateur-secteur-usb-c-20w-apple-mhje3zm-a.jpg" alt="">
            <img src="https://www.cdiscount.com/pdt2/5/7/2/2/700x700/app190199098572/rw/apple-airpods-2-avec-boitier-de-charge-filaire-bla.jpg" alt="">
            <img src="https://www.cdiscount.com/pdt2/a/c/k/2/700x700/airtag4pack/rw/apple-pack-de-4-airtag.jpg" alt="">
            <img src="https://www.cdiscount.com/pdt2/4/4/8/2/115x115/app0885909627448/rw/cable-apple-lightning-to-usb-cable-2-m.jpg" alt="">
        </section>
        <section>

        </section> -->
    </main>

    <footer></footer>
  </body>
</html>
