<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-shop</title>
    <link rel="stylesheet" href="/assets/css/produit.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/assets/js/e-shop.js"></script>
    
</head>
<body>
    <header class="header">
        <a href="/index.html"><img src="/assets/img/marque.jpg" alt="" class="logo"></a>
        <nav class="navbar">
            <a href="/index.html" class="home">Acceuil</a>
            <a href="/view/login.html" class="products">Login</a>
            </a>
        </nav>
    </header>
    <main>
        <section class="container-section">
            <section class="section-items">
                <span class="item">
                    <img src="/assets/img/iphone-1-11.avif" alt="">
                    <h3 class="title-item">APPLE iPhone 14 128GB Blue</h3>
                    <p>Capacité de la mémoire interne128 Go</p>
                    <i class="prix">Prix 900, 76€</i>
                    <button class="btn">Ajouter</button>
                </span>

                <span class="item">
                    <img src="/assets/img/iphone-2-11.avif" alt="">
                    <h3 class="title-item">APPLE iPhone 14 128GB noir</h3>
                    <p>Capacité de la mémoire interne128 Go</p>
                    <i class="prix">Prix 900, 76€</i>
                    <button class="btn">Ajouter</button>
                </span>
                <span class="item">
                   <img src="/assets/img/iphone-3-11.avif" alt="">
                    <h3 class="title-item">APPLE iPhone 14 128GB Blue</h3>
                    <p>Résolution du capteur12 mégapixels</p>
                    <i class="prix">Prix 900, 76€</i>
                    <button class="btn">Ajouter</button>
                </span>
                
                <span class="item">
                    <img src="/assets/img/iphone-4-11.avif" alt="">
                    <h3 class="title-item">iPhone 13 128Go Rouge</h3>
                    <p>Capacité de la mémoire interne128 Go</p>
                    <i class="prix">Prix 900, 76€</i>
                    <button class="btn">Ajouter</button>
                </span>
            </section>
        </section>
        
        <section class="container-section">
            <section class="section-items">
                <span class="item">
                    <img src="/assets/img/iphone-5-12.avif" alt="">
                    <h3 class="title-item">APPLE iPhone 11 128GB Blue</h3>
                    <p>Capacité de la mémoire interne128 Go</p>
                    <i class="prix">Prix 900, 76€</i>
                    <button class="btn">Ajouter</button>
                </span>

                <span class="item">
                    <img src="/assets/img/iphone-6-12.avif" alt="">
                    <h3 class="title-item">APPLE iPhone 14 128GB noir</h3>
                    <p>Capacité de la mémoire interne128 Go</p>
                    <i class="prix">Prix 900, 76€</i>
                    <button class="btn">Ajouter</button>
                </span>
                <span class="item">
                    <img src="/assets/img/iphone-7-12.avif" alt="">
                    <h3 class="title-item">APPLE iPhone 14 128GB noir</h3>
                    <p>Résolution du capteur 12 mégapixels</p>
                    <i class="prix">Prix 800, 76€</i>
                    <button class="btn">Ajouter</button>
                </span>
                
                <span class="item">
                    <img src="/assets//img/iphone-8-12.avif" alt="">
                    <h3 class="title-item">iPhone 12 128Go Rouge</h3>
                    <p>Capacité de la mémoire interne128 Go</p>
                    <i class="prix">Prix 900, 76€</i>
                    <button class="btn">Ajouter</button>
                </span>
            </section>
        </section>
        
        <section class="container-section">
            <section class="section-items">
                <span class="item">
                    <img src="/assets/img/iphone-9-14.avif" alt="">
                    <h3 class="title">APPLE iPhone 14 128GB Blue</h3>
                    <p class="paragraph">Capacité de la mémoire interne128 Go</p>
                    <i class="price">Prix 900, 76€</i>
                    <button class="btnx">Ajouter</button>
                </span>

                <span class="item">
                    <img src="/assets/img/iphone-10-14.avif" alt="">
                    <h3 class="title">APPLE iPhone 14 128GB noir</h3>
                    <p class="paragraph">Capacité de la mémoire interne128 Go</p>
                    <i class="price">Prix 900, 76€</i>
                    <button class="btnx">Ajouter</button>
                </span>

                <span class="item">
                    <img src="/assets/img/iphone-11-14.avif" alt="">
                    <h3 class="title">APPLE iPhone 14 128GB Blue</h3>
                    <p class="paragraph">Résolution du capteur12 mégapixels</p>
                    <i class="price">Prix 900, 76€</i>
                    <button class="btnx">Ajouter</button>
                </span>
                
                <span class="item">
                    <img src="/assets/img/iphone-12-14.avif" alt="">
                    <h3 class="title">iPhone 13 128Go Rouge</h3>
                    <p class="paragraph">Capacité de la mémoire interne128 Go</p>
                    <i class="price">Prix 900, 76€</i>
                    <button class="btnx">Ajouter</button>
                </span>
            </section>
        </section>
        <section class="container-section-airpods">
            <h3 class="title-airpods">Recommandé avec ce produit</h3>
            <section class="container-airpods">

                <span class="item-airpods">
                    <img src="https://www.cdiscount.com/pdt2/0/2/2/2/700x700/ap0194252157022/rw/adaptateur-secteur-usb-c-20w-apple-mhje3zm-a.jpg" alt="">
                    <h3>iPhone 13 128Go Rouge</h3>
                    <p>Les AirPods 3 ont un lourd héritage à</p>
                    <i class="prix">prix 209.10€</i>
                    <button class="btn">Ajouter</button>
                </span>

                <span class="item-airpods">
                    <img src="https://www.cdiscount.com/pdt2/4/4/8/2/115x115/app0885909627448/rw/cable-apple-lightning-to-usb-cable-2-m.jpg" alt="">
                    <h3>iPhone 13 128Go Rouge</h3>
                    <p>Les AirPods 3 ont un lourd héritage à</p>
                    <i class="prix">prix 160. 97€</i>
                    <button class="btn">Ajouter</button>
                </span>

                <span class="item-airpods">
                    <img src="https://www.cdiscount.com/pdt2/a/c/k/2/700x700/airtag4pack/rw/apple-pack-de-4-airtag.jpg" alt="">
                    <h3>iPhone 13 128Go Rouge</h3>
                    <p>Les AirPods 3 ont un lourd héritage à</p>
                    <i class="prix">prix 198. 23€</i>
                    <button class="btn">Ajouter</button>
                </span>

                <span class="item-airpods">
                    <img src="https://www.cdiscount.com/pdt2/5/7/2/2/700x700/app190199098572/rw/apple-airpods-2-avec-boitier-de-charge-filaire-bla.jpg" alt="">
                    <h3>iPhone 13 128Go Rouge</h3>
                    <p>Les AirPods 3 ont un lourd héritage à</p>
                    <i class="prix">prix 170, 54€</i>
                    <button class="btn">Ajouter</button>
                </span>
            </section>
        </section>
    </main>
    <footer class="footer">
        <section class="footer-section-1">
            <span class="lists">
                <h3>Assistance</h3>
                <ul class="list">
                   <li>Contact</li>
                   <li>Mentions légales</li>
                   <li>Politique de confidentialité</li>
                   <li>Cookie et préférences marketing</li>
                   <li>Conditions générales de vente</li>
                   <li>Législation sur les services numériques</li>
                   <li>Plan du site</li>
                   <li>S'opposer à la vente et au partage des données personnelles</li>
                </ul>
            </span>
            <span class="lists">
                <h3>Société</h3>
                <ul class="list">
                    <li>A propos</li>
                    <li>Emplois</li>
                    <li>Blog</li>
                    <li>Presse</li>
                    <li>Cartes-cadeaux</li>
                    <li>Explorez</li>
                </ul>
            </span>
            <span class="lists">
                <h3>Travaillez</h3>
                <ul class="list">
                   <li>En tant que prestataire d'activité</li>
                   <li>En tant que créateurice de contenu</li>
                   <li>En tant que partenaire affilié</li>
                </ul>
            </span>
        </section>
        <section class="footer-section-2">
            <span class="lists">
                <h3>Paiments</h3>
                <a><img src="https://i.pinimg.com/736x/83/f4/6f/83f46f8554d07ca13f5f63f170d58d01.jpg" alt="" class="carte-banque"></a>
                <a><img src="https://i.pinimg.com/564x/6a/49/33/6a493355bb2e1c654dbb2e5baed049d6.jpg" alt="" class="carte-banque"></a>
            </span>

            <span class="lists">
                <h3>Appli mobile</h3>
                <img src="https://i.pinimg.com/564x/2d/03/4c/2d034c2a63193117c19822ba15f69b27.jpg" alt="" class="google-play">
                <img src="https://i.pinimg.com/564x/20/a1/7c/20a17c9aa2c6df35308ff4ab3beba2a9.jpg" alt="" class="google-play">
            </span>

            <span class="lists">
                <h3>Reseaux</h3>
                <span class="reseau-sociaux">
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </span>
            </span>
        </section>
       <p class="social-p">&copy; - 2024 Devhadan Développeur junior</p>
    </footer>
</body>
</html>


